:root {
    font-size: 16px;
    --beige: #ffecc9;
    --brown: #280e0b;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    margin: 0px;
    
}

#page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "navi head head head head"
                         "navi main main main main"
                         "navi foot foot foot foot";
    grid-template-rows: auto 500px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#page > header {
    grid-area: head;
  }
  
  #page > nav {
    grid-area: navi;
    background-color: var(--brown);
  }
  
  #page > main {
    grid-area: main;
    background-color: var(--beige);
  }
  
  #page > footer {
    grid-area: foot;
  }

.header-wrapper {
    grid-area: head;
  }

.footer-wrapper {
    background-image: url("/home/christine/Documents/Coding/UglySquid.github.io/Images_and_videos/footer.png/footer.png");
  }

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    background-color: var(--brown);
}

.navbar-nav {
    list-style: none;
    align-items: center;
    height: 100%;
}

.nav-item {
    display: block;
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
}

.nav-link {
    color: var(--beige);
    display: inline-block;
}

.link-text {
    transition: all 0.3s ease 0s;
    display: block;
    color: var(--beige);
}

.navbar:hover .navbar-nav {
    color: var(--beige);
}

.navbar:hover .link-text {
    background-color: var(--brown);
}


title {
    font-family: 'Press Start 2P', cursive;
    font-size: 120 px;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 48 px;
}

p {
    font-family: 'Armata', sans-serif;
    font-size: 16 px;
}
