:root {
    font-size: 16px;
    --light-pink: #ffdfe8;
    --dark-pink: #b48fa4;
    --lighter-blue:#b4d5ff;
    --light-blue: #9eb7e1;
    --dark-blue: #7b8eaf;
    --section-padding: 150px;
    text-decoration: none;
    list-style: none;
}

body {
    display: grid;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--dark-blue);
    color:var(--dark-blue);
    margin: 0;
    padding: 0;
}

main {
    margin: 15rem;
    padding: 15rem;
}

.header-img {
    display: grid;
    left: 2;
    top: 0;
    right: 0;
    min-height:100%;
    background-image: url("/home/christine/Documents/Coding/UglySquid.github.io/Images_and_videos/header.png")
  }

.footer-img {
    display: grid;
    left: 2;
    bottom: 0;
    right: 0;
    min-height:100%;
    background-image: url("/home/christine/Documents/Coding/UglySquid.github.io/Images_and_videos/footer.png/footer.png")
  }

.navbar {
    display:grid;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    background-color: var(--light-blue);
    min-height: 100%;
    width: 15rem;
}

.navbar-nav {
    list-style-type: none;
    display: block;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    display: block;
    padding: 1rem;
    text-align: center;
}

.logo {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--light-pink);
    font-size: 48px;
}

.nav-link {
    display: flex;
    align-items: center;
    width: 16rem;
    color: var(--light-blue);
}

.link-text {
    display: block;
    color: var(--lighter-blue);
}

.navbar:hover .link-text {
    color: var(--light-pink);
}

title {
    font-family: 'Press Start 2P', cursive;
    font-size: 120 px;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 48 px;
}

p {
    font-family: 'Armata', sans-serif;
    font-size: 16 px;
}
